.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.layout-center {
  margin: auto;
}

.layout-header {
  background-color: #007ead;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 0;
  position: relative;
  top: 0;
  -webkit-transition: top .3s ease-in-out;
  transition: top .3s ease-in-out;
  width: 100%;
  z-index: 2010;
}

.icon-badge {
  color: #fff;
  height: 24px;
  width: 56px;
}