<mat-card class="app-card">
  <div class="card registration">
    <div *ngIf="!verificationStatus.done">
      <h1 class="text-center">Please verify yourself !!!</h1>

      <div class="row" *ngIf="selectedPhrase">
        <div class="col-sm-12">
          <p class="text-heading5 text-center"> Pleasae speak up same pharse while enrolling yoursel</p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <button #verify (click)="verifyProfile()" type="button" class="mr-3 btn btn-outline-secondary marginn-b-20">
            {{ stopRecording ? 'Verify Stop recording' : 'Verify (Start recording)' }}
            <span><mat-icon>mic</mat-icon></span>
          </button>
          <p *ngIf="verificationStatus.error" class="text-heading5 text-center marginn-b-20" style="color:red">
            <span><mat-icon>error</mat-icon></span> Unable to verify the profile 
          </p>   
        </div>
      </div>

      <div class="row" *ngIf="verificationStatus.loading">
        <div class="col-sm-12">
          <div class="outer" >
            <div class="middle">
              <mat-spinner [diameter]="50" class="layout-center"></mat-spinner>
            </div>
          </div>
          <p class="text-heading5 text-center" style="margin-top: 90px">
            Please wait while verifying......
          <p>
        </div>  
      </div>

      
    </div>

    <div *ngIf="verificationStatus.done">

      <h1 class="text-center">Welcome {{ profile.nickName }} !!</h1>

      <div class="row">
        <div class="col-sm-12">
          <p class="text-heading5 text-center marginn-b-20" style="color:green"> 
            <span><mat-icon>done</mat-icon></span> Profile has been succesfully verified
          </p>
          <p class="text-heading5 text-center marginn-b-20"> 
            How May I Help You !!!!
          </p>
        </div>
      </div>

    </div>  


  </div>
      
</mat-card>